<!DOCTYPE html>
<html lang="en">
    <style>
        body {text-align: center;}
    </style>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Personal blog</title>
</head>
<body>
    <div id="Blog">
       <header>
        <a href="index.html"><img src="images/LogoPhoto.jpg" alt="Personal Blog"></a>
    </header>
    <aside>
        <li><a href="index.html"> Home </a></li>
    <li><a href="education.html">Education </a></li>
    <li> <a href="work.html"> Work experience </a></li>
    </aside>
    <main>
        
    </main>
</body>
</html>