<!DOCTYPE html>
<!-- this is a template for the web pages -->
<html lang="en">
    <style>
        body {text-align: right;}
    </style>
 
<head>
    <style>
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
    <style>
        h1{text-align: center;}
    </style>
    <style>
        
        aside {
            width: 30%;
            padding-right: 15px;
            margin-right: 15px;
            float: left;
 font-size: larger;
 font-style: italic;
       }
       </style>
       <style>
        footer {
            text-align: center;
            padding: 3px;
            color: purple;
        }
    </style>
  <link rel="stylesheet" href="css/content.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>My Personal Blog</title>
</head>

<body background="black" text="red"></body>

<body style="background-color: darkcyan;">

    
<body>
    <h1 class="title">Education</h1>
    <img src="/Users/user186844/Documents/myBlog_Harpreet_C0788553/images/educationphoto.jpeg" style="width: 300px; height: 300px; position: absolute; top: 500px; left: 450px;">
   <img src="/Users/user186844/Documents/myBlog_Harpreet_C0788553/images/pik2.jpg" width="300" height="250">
   <img src="/Users/user186844/Documents/myBlog_Harpreet_C0788553/images/piksuni.jpg" style="width: 300px; height: 300px; position: absolute; top: 500px; left: 750px;">
   <img src="/Users/user186844/Documents/myBlog_Harpreet_C0788553/images/schoophoto.jpg" style="width: 300px; height: 300px; position: absolute; top: 500px; left: 150px;">
     
        <div id="Blog2">
    <!-- this is the area that is used for the website name and logo -->
   <header>
  

    <!--<a href="index.html"><img src="images/ffc_logo.png" alt="the club logo" height="275" width="845"></a>-->
    
   </header>
   <!-- the area used for the hyperlinks-->
   <aside>
 
    <h3>Click here to visit another pages</h3>
   <li> <a href="index.html"> Home </a></li>
    <li><a href="personalinfo.html">Personal Information </a></li>
    <li> <a href="work.html"> Work experience </a></li>
    
    
   </aside>

   
       
   
   <!-- the area used for the content of the page -->
   <main>
     
       <h3 style="padding-top: 20px;  padding-right: 170px">Primary education</h3>
       <p style="padding-top: 5px; padding-right: 160px">G.N High School,Punab(India)</p>
       <h3 style="padding-top: 20px;  padding-right: 170px">Secondary Education</h3>
       <p style="padding-top: 5px; padding-right: 160px"> Co.Edu.Sen.Sec.School,Punjab(India</p>
       <h3 style="padding-top: 20px; padding-right: 170px;">Graduation</h3>
       <p style="padding-top: 5px; padding-right: 160px">Punjabi University,Patiala</p>
       <h3 style="padding-left: 20px; padding-right: 170px">Subjects in Secondary Education</h3>
       <p style="padding-top: 5px; padding-right: 160px">Mathematics,English,Hindi,Punjabi,Geography,History</p>
       <h3 style="padding-top: 20px; padding-right: 170px">Subjects in Graduation </h3>
       <p style="padding-top: 5px; padding-right: 160px">Mathematics,English,Computer Architecture,C Programming,C++ Programming</p>
       <h3 style="padding-top: 20px; padding-right: 170px;">Extra Activites </h3>
       <P style="padding-top: 5px; padding-right: 160px;"> Take part in state level quizzes,badminton championship</P>
  
  


</dl>


   </main>
   <!-- the area for the footer content-->
   <footer>
    
        &copy;  Copyright 2021. All Rights Reserved <br>
        <a href="milto:personalblog@yahoo.com">personalblog@yahoo.com</a>
        
      
   </footer>
   </div>
</body>
</html>