<!DOCTYPE html>
<!-- this is a template for the web pages -->
<html lang="en">
<head>
    <link rel="stylesheet" href="css/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My personal Blog</title>
</head>
<body>
    <div id="Blog">
    <!-- this is the area that is used for the website name and logo -->
   <header>
    <a href="index.html"><img src="images/LogoPhoto.jpg" alt="Personal Blog"></a>
    
   </header>
   <!-- the area used for the hyperlinks-->
   <aside>
    <ul>
        <li><a href="index.html"> Home </a></li>
          <li><a href="personalinfo.html">Personal Information </a></li>
          <li><a href="education.html">Education </a></li>
         <li> <a href="work.html"> Work experience </a></li>
         
       
             </ul>
 </aside>

   <!-- the area used for the content of the page -->
   <main></main>
   <!-- the area for the footer content-->
   <footer>
     &copy;  Copyright 2021. All Rights Reserved <br>
   personalblog@yahoo.com
   </footer>
   </div>
</body>
</html>