<!DOCTYPE html>
<!-- this is a template for the web pages -->
<html lang="en">
    <style>
        body {text-align: left;}
    </style>
 
<head>
  <link rel="stylesheet" href="css/main.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Personal Blog</title>
</head>
<body background="black" text="purple"></body>

<body style="background-color: darkkhaki;">
    
<body>
    <div id="Blog">
    <!-- this is the area that is used for the website name and logo -->
   <header>
    <a href="index.html"><img src="images/LogoPhoto.jpg" alt="Personal Blog"></a>
<h1 class="title">My First Blog</h1>
    <!--<a href="index.html"><img src="images/ffc_logo.png" alt="the club logo" height="275" width="845"></a>-->
    
   </header>
   <!-- the area used for the hyperlinks-->
   <aside>
   <li> <a href="index.html"> Home </a></li>
    <li><a href="education.html">Education </a></li>
    <li> <a href="work.html"> Work experience </a></li>
    
   </aside>

   
       
   
   <!-- the area used for the content of the page -->
   <main>
     
       <h3>First Name</h3>
       <p>Harpreet</p>
       <h3>Middle Name</h3>
       <p>Kaur</p>
       <h3>Last Name</h3>
       <p>Gill</p>
       <h3>City </h3>
       <p>Brampton</p>
       <h3>Postal Code </h3>
       <p>MD2 GF4</p>
       <h3>Country </h3>
       <P>Canada</P>
      <h3>Phone Number</h3> 
       <a  class="mobile" href="tel:8145559608">(814)555-9608</a>(814)555-9608
   <h3>Hobbies</h3>
   <p>Photography,Music,Travelling</p>



</dl>


   </main>
   <!-- the area for the footer content-->
   <footer>
    
        &copy;  Copyright 2021. All Rights Reserved <br>
        <a href="milto:personalblog@yahoo.com">personalblog@yahoo.com</a>
        
      
   </footer>
   </div>
</body>
</html>